button, select, html, textarea, input {
    font-family: "PremierSans-Regular";
    color: #333333;
}

.font-14{  font-size:14px;}
.font-13{  font-size:13px;}
.font-12{  font-size:12px;}
.font-11{  font-size:11px;}

.pull-left {
    float:left;
}
.pull-right {
    float: right;
}
.text-center {
    text-align: center;
}
.m-r-5 {
    margin-right: 5px;
}
.relative {
    position: relative;
}
.wrapper {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
b, strong {
    font-family: "PremierSans-Bold",Arial,"Helvetica Neue",Helvetica,sans-serif;
}
a {
    color: $primary;
    text-decoration: none;
    &:hover {
        color: $hue-2;
        text-decoration: underline;
    }
}

md-input-container {
    input, label {
        font-size: $font-13;
    }
}
.dark {
    button {
        color: $white;
    }
    md-input-container,  md-input-container.md-input-focused{
        label {
            color: $white!important;
        }
        input {
            color: $white;
            border-bottom: 1px solid $white;
        }
    }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}



.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
@media (max-width: 767px) { 
  .container {
    width: 100%;
  }
 }
@media (min-width: 768px){ 
.container {
    width: 750px;
  }
}
@media (min-width: 992px){ 
.container {
    width: 970px;
  }
}
@media (min-width: 1200px) { 
.container {
    width: 1170px;
  }
 }