.bgimage {
    text-align: right;
    color: white;
    background-size: cover;
    height: 100%;
    background-position: center center;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.15);
    }
}

ul[rn-carousel] {
    margin: 0;
    padding: 0;
}

section.jumbotron {
    text-align: center;
    height: calc(100vh - 64px);
    color: white;
    overflow: hidden;
    min-height: 590px;
    h1 {
        font-size: 3em;
    }
}

.side-nav {
    ul {
        margin: 0;
        padding: 0 20px;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
            background-repeat: no-repeat;
            background-position: 0 50%;
            background-size: 32px;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 19px;
            color: #fff;
            padding-left: 48px;
            margin-left: 10%;
            a {
                text-decoration: none;
                font-weight: 600;
                color: #fff;
                font-size: 16px;
            }
            &.quick-Cricket {
                background-image: url('/assets/images/icons/cricket.svg');
            }
            &.quick-Football {
                background-image: url('/assets/images/icons/soccer.svg');
            }
            &.quick-Badminton {
                background-image: url('/assets/images/icons/badminton.svg');
            }
            &.quick-Chess {
                background-image: url('/assets/images/icons/chess.svg');
            }
            &.quick-Swimming {
                background-image: url('/assets/images/icons/swimming.svg');
            }
            &.quick-Volleyball {
                background-image: url('/assets/images/icons/volleyball.svg');
            }
            &:first-child {
                padding-left: 0px;
                margin-left: 0%;
            }
            ;
        }
    }
    .side-nav-top {
        background-color: $hue-1;
    }
    .side-nav-bottom {
        background-color: $hue-2;
    }
}

.caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 80%;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
    h2 {
        margin-top: 0;
        font-size: 2.25em;
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
        font-size: 18px;
    }
}

md-toolbar {
    font-size: 14px;
}